.legal-basis {
  &__item {
    padding: 8px;
    background-color: #f5f5f5;
    color: $blue;

    a {
      font-size: 14px;
    }
  }

  .nav-link {
    font-size: 18px;
  }

  .nav-tabs {
    .nav-link {
      border: none;

      &.active {
        border-bottom: 2px solid $primary;
      }
    }
  }
}