.regional-department {
  &__item {
    &-title {
      color: $gray;
      font-size: 22px;
    }

    svg {
      margin-top: 20px;

      path {
        transform: matrix(0.6, 0, 0, 0.55, 0, 0);
        transition: transform .3s ease;
        -webkit-tap-highlight-color: #000;
        stroke-linejoin: round;
        cursor: pointer;

        &:hover {
          transform: matrix(0.6, 0, 0, 0.55, 4, -4.5);
          fill: #F4F4F4;
        }
      }
    }

    font-family: $open500;

    &-data {
      font-size: 16px;
      border-bottom: 1px dotted #e8e8e8;
    }

    .carousel {
      &-item {
        p {
          color: $txt-color;
        }

        strong {
          color: $title-color;
        }
      }

      .carousel-control-prev,
      .carousel-control-next {
        position: absolute;
        background-color: #ddd;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        transition: background-color .3s ease;
        top: -45px;

        .fas {
          font-size: 14px;
        }

        &:hover {
          background-color: $primary;
        }
      }

      .carousel-control-prev {
        right: 24px;
        left: initial;
      }
    }
  }
}