.regional-department {
  &__item {
    &-title {
      color: #707070;
      font-size: 22px;
    }

    font-size: 16px;
    font-family: $open500;

    &-data {
      border-bottom: 1px dotted #e8e8e8;
    }

    .carousel {
      .carousel-control-prev,
      .carousel-control-next {
        position: absolute;
        background-color: #ddd;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        transition: background-color .3s ease;
        top: -45px;
  
        .fas {
          font-size: 14px;
        }
  
        &:hover {
          background-color: $primary;
        }
      }
  
      .carousel-control-prev {
        right: 24px;
        left: initial;
      }
    }
  }
}
