.navbar {
	background-color: $primary;
	position: relative;
	z-index: 10;

	.dropdown {
		width: 100%;
		display: flex;
		background-color: $primary;
	}

	.dropdown li {
		position: relative;
	}

	.dropdown li a, .dropdown li p {
		cursor: pointer;
		color: #fff;
		text-align: center;
		text-decoration: none;
		display: block;
		padding: 10px;
		transition: background-color .3s ease;
		font-size: 14px;

		&:hover {
			background-color: $blue;
		}
	}

	.dropdown li ul {
		position: absolute;
		top: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: none;
		line-height: normal;
		background-color: $blue;

		&.left-side {
			left: 100%;
			transform: translateX(-100%);
		}
	}

	.dropdown li ul li a, .dropdown li ul li p {
		cursor: pointer;
		text-align: left;
		color: #fff;
		font-size: 14px;
		padding: 10px;
		display: block;
		white-space: nowrap;
		transition: text-indent .3s ease;
	}

	.dropdown li ul li a:hover, .dropdown li ul li p:hover {
		background-color: #3E6A8F;
		color: #fff;
		text-indent: 6px;
	}

	.dropdown li ul li ul {
		left: 100%;
		top: 0;

		&.left-side {
			left: 0;
			transform: translateX(-100%);
		}
	}

	ul li:hover>a {
		background-color: $primary;
		color: #fff !important;
	}
}