.navbar {
	background-color: $primary;
	position: relative;
	z-index: 10;

	.dropdown {
		width: 100%;
		display: flex;
		background-color: $primary;
	}

	.dropdown li {
		position: relative;
	}

	.dropdown li a {
		color: #fff;
		text-align: center;
		text-decoration: none;
		display: block;
		padding: 10px;
		transition: background-color .3s ease;
		font-size: 14px;

		&:hover {
			background-color: $blue;
		}
	}

	.dropdown li ul {
		position: absolute;
		top: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: none;
		line-height: normal;
		background-color: $blue;
	}

	.dropdown li ul li a {
		text-align: left;
		color: #fff;
		font-size: 14px;
		padding: 10px;
		display: block;
		white-space: nowrap;
		transition: text-indent .3s ease;
	}

	.dropdown li ul li a:hover {
		background-color: #3E6A8F;
		color: #fff;
		text-indent: 6px;
	}

	.dropdown li ul li ul {
		left: 100%;
		top: 0;

		&.left-side {
			left: 0;
			transform: translateX(-100%);
		}
	}

	ul li:hover>a {
		background-color: $primary;
		color: #fff !important;
	}

	ul li:hover>ul {
		display: block;
	}
}

@media (max-width: 991px) {
	.navbar {
		.dropdown {
			flex-direction: column;
			align-items: flex-start;
			display: none;

			&.show-menu {
				display: block;
			}

			li {
				width: 100%;

				a {
					text-align: left;
				}

				ul {
					position: unset;
					padding: 0 16px;

					li {
						a {
							text-align: left;
						}

						ul {
							position: unset;
							padding: 0 16px;

							&.left-side {
								transform: translateX(0);
							}
						}
					}
				}
			}
		}

		.menu-bar {
			width: 32px;
			height: 30px;
			border-radius: 4px;
			background-color: #fff;
			display: grid;
			place-items: center;
			cursor: pointer;
			
			i {
				color: #000;
				font-size: 16px;
			}
		}
	}
}