* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: $open300;
    src: url("../../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: $open400;
    src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: $open500;
    src: url("../../fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: $open600;
    src: url("../../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: $open700;
    src: url("../../fonts/OpenSans-Bold.ttf");
}

body {
    font-size: 14px;
    font-family: $open400, sans-serif;
    background-image: url("../../img/bg.png");
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
        color: $primary;
    }

    &.detail {
        width: 100%;
        text-align: right;
        color: $blue;
        font-weight: 600;
        font-size: 14px;

        &:hover {
            color: $primary;
        }
    }

    &.file {
        color: $blue;
        padding: 8px;
        font-size: 14px;
        display: inline-flex;
        align-items: center;

        .fas {
            font-size: 18px;
            margin-right: 4px;
        }

        &:hover {
            background: $green;
            color: #fff;
        }
    }
}

.bg-light {
    background-color: #fff !important;
}

.line {
    width: 120px;
    height: 2px;
    background: $grad;
    position: absolute;
    top: 0;
    left: 0;

    &.line--left12 {
        left: -12px;
    }
}

.txt-color {
    color: $txt-color;
}

.title-color {
    color: $title-color;
}

.color-2 {
    color: $gray;
}

.fw-300 {
    font-family: $open300;
}

.fw-400 {
    font-family: $open400;
}

.fw-500 {
    font-family: $open500;
}

.fw-600 {
    font-family: $open600;
}

.fw-700 {
    font-family: $open700;
}

.link-color {
    color: $blue;
    transition: color .3s ease;

    &:hover {
        color: $primary;
    }
}

.section-title {
    font-size: 24px;
    color: $primary;
    font-family: $open600;
}

.btn.btn-success {
    background: #15ae00;
    border: 1px solid #14a300;
    color: #fff;
    padding: 8px 16px;
    transition: all .3s ease;
    font-size: 16px;

    &:hover,
    &:disabled,
    &:focus {
        background: #15c900;
        border-color: #15c400;
    }
}

.back-to-top {
    position: fixed;
    right: 12px;
    bottom: 12px;
    font-size: 16px;
    display: none;
    z-index: 99;

    &.btn {
        padding: 6px 12px;
    }
}