* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: $open300;
    src: url("../../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: $open400;
    src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: $open500;
    src: url("../../fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: $open600;
    src: url("../../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: $open700;
    src: url("../../fonts/OpenSans-Bold.ttf");
}

body {
    font-size: 14px;
    font-family: $open400, sans-serif;
    background-image: url("../../img/bg.png");
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
        color: $primary;
    }
}

a.detail {
    width: 100%;
    text-align: right;
    color: $blue;
    // transition: color .3s ease;
    font-weight: 600;
    font-size: 14px;

    &:hover {
        color: $primary;
    }
}

a.file {
    color: $blue;
    padding: 8px;
    display: inline-block;
    font-size: 14px;

    .fas {
        font-size: 18px;
    }

    &:hover {
        background: $green;
        color: #fff;
    }
}

.bg-light {
    background-color: #fff !important;
}

.line {
    width: 120px;
    height: 2px;
    background: $grad;
    position: absolute;
    top: 0;
    left: 0;
}

.txt-color {
    color: $txt-color;
}

.title-color {
    color: $title-color;
}

.color-2 {
    color: $gray;
}

.fw-300 {
    font-family: $open300;
}
.fw-400 {
    font-family: $open400;
}
.fw-500 {
    font-family: $open500;
}
.fw-600 {
    font-family: $open600;
}
.fw-700 {
    font-family: $open700;
}

.link-color {
    color: $blue;
    transition: color .3s ease;

    &:hover {
        color: $primary;
    }
}

.section-title {
    font-size: 24px;
    color: $primary;
    font-family: $open600;
}