@media (min-width: 991px) {
  .navbar {
    ul li:hover>ul {
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    .dropdown {
      flex-direction: column;
      align-items: flex-start;
      display: none;

      &.show-menu {
        display: block;
      }

      li {
        width: 100%;

        a,
        p {
          text-align: left;
        }

        ul {
          position: unset;
          padding: 0 16px;

          &.left-side {
            left: 0;
            transform: translateX(0);
          }

          li {

            a,
            p {
              text-align: left;
            }

            ul {
              position: unset;
              padding: 0 16px;

              &.left-side {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }

    .menu-bar {
      width: 32px;
      height: 30px;
      border-radius: 4px;
      background-color: #fff;
      display: grid;
      place-items: center;
      cursor: pointer;

      i {
        color: #000;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 575px) {
  .btn.btn-success {
    padding: 5px 10px;
    font-size: 14px;
  }
}