// colors
$grad: linear-gradient(to bottom,#5cb85c 0,#15ae00 100%);
$green: #15ae00;
$txt-color: #444;
$title-color: #333;
$primary: #2f506c;
$blue: #4678a1;

// fonts
$open300: "OpenSans-Light";
$open400: "OpenSans-Regular";
$open500: "OpenSans-Medium";
$open700: "OpenSans-Bot";